*{
    margin: 0px;
    padding: 0px;
}
form{
    margin: 20px;
}
#city{
    width: 250px;
    padding: 5px;
    font-size: 110%;
    font-style: italic;
    color: #002244;
}
input[type="submit"]{
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #002244;
    color: #002244;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}
#weather-report{
    display: inline-block;
    margin: 20px;
}
#weather-report div{
    display: block;
    width: 65%;
    margin: 0px auto;
}
h1{
    text-align: center;
    color: #002244;
}
img{
    display: block;
    width: 100px;
    margin: -15px auto;
    opacity: .75;
}
h2{
    display: block;
    margin-top: 5px;
    color: #0066cc;
    text-align: center;
}
#desc{
    display: block;
    margin: 5px 0px;
    color: #0066cc;
    font-weight: bold;
    font-size: 125%;
    font-style: italic;
    text-align: center;
}
span{
    padding-left: 5px;
    color: #0066cc;
}
ul{
    margin: 20px;
    list-style-type: none;
    color: #002244;
}
p{
    margin-left: 20px;
}
