.container-fluid{ /* tweak container margins/padding */
    padding: 25px;
}
form{   /* if opting formatting form instead of fieldset/legend */
    width: 55%;
    padding: 20px;
    display: grid;
    grid-template-columns: 265px 1fr;
    background: linear-gradient(to bottom, #85adad, #f2fcfe);
    box-shadow: 3px 3px 3px #252525;
}
#city{
    padding: 5px;
    font-size: 110%;
    font-style: italic;
    color: #334d4d;
}
input[type='submit']{
    width: fit-content;
    padding: 5px 10px;
    color: #334d4d;
    border: 1px solid #334d4d;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #252525;
    margin: 10px auto 0px auto;
    font-weight: bold;
    cursor: pointer;
}
#weather-report{
    display: inline-block;
    margin: 20px;
}
#weather-report div{
    display: block;
    width: 65%;
    margin: 0px auto;
}
h1{
    text-align: center;
    color: #002244;
}
h3, h4, h5{
    color: #334d4d;
}
h4, h5{
    font-style: italic;
    margin: 0px 0px 5px 0px;
}
h5{
    text-align: center;
    margin: 0px;
}
img{
    display: block;
    width: 100px;
    margin: -15px auto;
    opacity: .75;
}
h2{
    display: block;
    margin-top: 5px;
    color: #0066cc;
    text-align: center;
}
#desc{
    display: block;
    margin: 5px 0px;
    color: #0066cc;
    font-weight: bold;
    font-size: 125%;
    font-style: italic;
    text-align: center;
}
span{
    padding-left: 5px;
    color: #0066cc;
}
ul{
    margin: 20px;
    list-style-type: none;
    color: #002244;
}
p{
    margin-left: 20%;
    margin-bottom: 0px;
}
